<% include ../partials/header %>

	<main>
		<section class="profile">
			<div class="grid__row">

				<div class="grid__col grid__col--desktop-flex-1 grid__col--no-padding">
					<header class="profile__header">
						<div class="profile__image-wrapper">
							<img class="profile__image" src="<%= collection.author.image %>">
						</div>
						<h2 class="profile__name"><%= collection.author.username %></h2>
					</header>
				</div>

				<div class="grid__col grid__col--desktop-flex-3 grid__col--no-padding">
					<div class="profile__body">
						<h2 class="list__title--align-top">Essential books: <%= collection.title %></h2>
						<% if (collection.books !== null) { %>
							<ul class="list">
								<% collection.books.forEach(function(book) {%>
										<li class="list__item">
											<h4 class="list-item--content"><%= book.title %> - <%= book.authors %></h4>
										</li>
								<% })%>
							</ul>
						<% } %>
					</div>
				</div>
			</div>
		</section>

		<section class="books">
			<% collection.books.forEach(function(book) { %>

				<article class="books__wrapper">
					<header class="books__header">
						<div class="grid__row ">
							<div class="grid__col grid__col--desktop-flex-1 grid__col--no-padding">
								<div class="books__image-wrapper">
									<img class="books__image" src="<%= book.image %>">
								</div>
							</div>
							<div class="grid__col grid__col--desktop-flex-3 grid__col--no-padding">
								<div class="books__title-wrapper">


									<h1 class="books__title"> - collection of essential ideas</h1>
									<h2>Source: </h2>
									<h2>Source type: </h2>
									<h2>Category: </h2>
								</div>
							</div>
						</div>
					</header>
					<section class="books__ideas">
						<div class="grid__row">
							<div class="grid__col ">
								<div class="books__body">
									<h2 class="books__title--ideas">
										Idea descriptions:
									</h2>
									<% if (book.ideas) { %>
										<% book.ideas.forEach(function(idea) {%>
											<div class="book__ideas">
												<h3 class=""><%= idea.name%></h3>
												<p class=""><%= idea.description%></p>
												<% if (currentUser && collection.author.id.equals(currentUser._id)) { %>
													<div class="">
														<a class="" href="/collections/<%= collection._id %>/books/<%= book._id%>/ideas/<%= idea._id%>/edit">
															<button class="button">Edit
															</button>
														</a>
														<form class="form" action="/collections/<%= collection._id%>/books/<%= book._id%>/ideas/<%= idea._id%>?_method=DELETE" method="POST">
															<button class="button">Delete
															</button>
														</form>
													</div>
												<% } %>
											</div>
										<% }) %>
									<% } %>
								</div>
							</div>
						</div>
					</section>

					<div class="book__buttons">
						<% if (currentUser && collection.author.id.equals(currentUser._id)) { %>
						<a class="link link--equal" href="/collections/<%= collection._id%>/books/new">
							Add book
						</a>
					<% } %>
						<a class="link link--equal" href="/collections/<%= collection._id%>/books/<%= book._id%>/ideas/new">
							Add ideas
						</a>
						<a class="link link--equal" href="/collections/<%= collection._id%>/books/<%= book._id%>/edit">
							Edit book
						</a>
						<form class="form--delete" action="/collections/<%= collection._id%>/books/<%= book._id%>?_method=DELETE" method="POST">
							<button class="button button--delete">Delete book</button>
						</form>
					</div>
				</article>

			<% }); %>
		</section> <!-- <section class="books"> -->


		<div class="layout__row comment__title">
			<div class="col">
				<h1 class="heading__title">Comment</h1>
			</div>
		</div>

		<% collection.comments.forEach(function(comment) { %>
			<div class="layout__row">
				<div class="layout__col">
				<div>


				</div>
	<!-- 			profile__presentation profile-theme-light
	 -->				<div class="image__container image__container--size-thumbnail">
						<!-- <img class="image image_rounded" src="<%= comment.author.image%>"> -->
					</div>
					<h3 class="profile__name"><%= comment.author.username%></h3>
				</div>

				<div class="layout__col">
					<div class="comment__content">
						<p class="comment__date">Posted on
						<%= comment.date.toUTCString() %>
						</p>
						<p class="comment__text"><%= comment.text%></p>

						<% if (currentUser && collection.author.id.equals(currentUser._id)) { %>
							<div class="comment__buttons">
								<a href="/collections/<%= collection._id%>/comment/<%= comment._id%>/edit">
								<button class="button button__edit button_margin-horizontal">Edit</button>
								</a>
								<form action="/collections/<%= collection._id%>/comment/<%= comment._id%>?_method=DELETE" method="POST">
									<button class="button button__delete  button--delete button--delete">Delete</button>
								</form>
							</div>
						<% } %>
					</div>
				</div>


			</div>
		<% })%>
</main>


<% include ../partials/footer %>



