<% include ../partials/header %>

	<div class="container">
		<main>
			<section class="profile profile--margin-top">
				<div class="grid__row">
					<div class="grid__col grid__col--desktop-flex-1 grid__col--no-padding">
						<header class="profile__header profile__header--height-fill">
							<div class="profile__image-wrapper">
								<img class="profile__image" src="<%= collection.author.image %>" alt="Author's image">
							</div>
							<h2 class="profile__name"><%= collection.author.username %></h2>
						</header>
					</div>

					<div class="grid__col grid__col--desktop-flex-3 grid__col--no-padding">
						<div class="profile__body">
							<h1 class="profile__title">My collection</h1>
							<h3>The most practical and useful ideas</h3>
							<p class="profile__ui-info"><em>Click a category below to display its contents</em></p>
							<div class="profile__lists">
								<div class="list list--half">
									<h3 class="list__title">Categories:</h3>
									<% if (collection.categories !== null) { %>
										<ul class="list__container">
											<% collection.categories.forEach(function(category) {%>
													<li class="list__item" data-active="<%= activeCategory %>">
														<button class="list__item--button js-hook--category-triggers" data-name="<%= category.name %>" >
															<%= category.name %>
														</button>
													</li>
											<% })%>
										</ul>
									<% } %>
								</div>
								<div class="list list--half">
									<h3 class="list__title">Category's sources:</h3>
									<% if (collection.categories !== null) { %>
										<ul class="list__container">
											<% collection.categories.forEach(function(category) {%>
													<% category.clusters.forEach(function(cluster) { %>
														<li class="list__item js-hook--clusters js-state--hidden" data-name="<%= category.name %>">
															<%= cluster.source.name %>
														</li>
													<% }) %>
											<% })%>
										</ul>
									<% } %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="categories">
				<% if (currentUser && collection.author.id.equals(currentUser._id)) { %>
					<div class="categories__panel">
						<div class="grid__row">
							<div class="grid__col">
								<h2 class="categories__title">Manage collection</h2>
								<div class="buttons">
									<a class="buttons__item buttons__item--large buttons__item--add-ideas" href="/collections/<%= collection._id%>/categories/new">
										Add categories and sources
									</a>
								</div>
							</div>
						</div>
						<div class="grid__row">
							<div class="grid__col">
								<p class="categories__pointer">Ideas are initially sorted into <strong>categories</strong>. Then, within a category, ideas are grouped by their <strong>sources.</strong></p>
							  <p class="categories__pointer categories__pointer--border-bottom"><strong>You can add a category and its sources of ideas in two simple steps.</strong> Just click the " + " button above.</p>
							  <p class="categories__pointer categories__pointer--border-bottom"><strong>The ideas can be added after you have a category and its sources.</strong> Use the corresponding button underneath a source.</p>
							  <p class="categories__pointer"><strong>To edit or delete individual positions </strong>, locate and click the corresponding buttons near it.</p>
							</div>
						</div>
					</div>
				<% } %>

				<% collection.categories.forEach(function(category) { %>
					<article class="categories__item js-hook--categories js-state--hidden" data-name="<%= category.name %>">
							<div class="grid__row">
								<div class="grid__col grid__col--no-padding">
									<div class="categories__topbar">
										<p class="categories__marker">Category</p>
										<% if (currentUser && collection.author.id.equals(currentUser._id)) { %>
											<div class="buttons ">
												<a class="buttons__item button--equal" href="/collections/<%= collection._id%>/categories/<%= category._id%>/clusters/new">
													Add cluster
												</a>
												<a class="buttons__item" href="/collections/<%= collection._id%>/categories/<%= category._id%>/edit">
													Edit
												</a>
												<form class="buttons__item--form js-buttons--delete" action="/collections/<%= collection._id%>/categories/<%= category._id%>?_method=DELETE" method="POST">
													<button class="buttons__item buttons__item--delete">Delete</button>
												</form>
											</div>
										<% } %>
									</div>
								</div>
							</div>
							<div class="grid__row ">
								<div class="grid__col">
									<h1 class="categories__title"> <%= category.name %></h1>
								</div>
							</div>
						<% category.clusters.forEach(function(cluster) {%>
							<section class="ideas">
								<div class="grid__row">
									<div class="grid__col">
										<h2>Ideas cluster</h2>
									</div>
									<div class="grid__col grid__col--desktop-flex-1">
										<img class="ideas__image" src="<%= cluster.source.image %>">
									</div>
									<div class="grid__col grid__col--desktop-flex-100">
										<h2>Source type: <span class="ideas__source"><%= cluster.source.label %></span></h2>
										<h2>Source: <span class="ideas__source"><%= cluster.source.name %></span><h2>
									</div>
								</div>
								<div class="grid__row">
									<div class="grid__col">
										<div class="buttons">
											<a class="buttons__item" href="/collections/<%= collection._id%>/categories/<%= category._id%>/clusters/<%= cluster._id%>/ideas/new"">
											Add ideas
											</a>
											<a class="buttons__item" href="/collections/<%= collection._id%>/categories/<%= category._id%>/clusters/<%= cluster._id%>/edit">
											Edit
											</a>
											<form class="buttons__item--form js-buttons--delete" action="/collections/<%= collection._id %>/categories/<%= category._id%>/clusters/<%= cluster._id%>?_method=DELETE" method="POST">
												<button class="buttons__item buttons__item--delete">Delete
												</button>
											</form>
										</div>
									</div>
								</div>
								<div class="grid__row">
									<div class="grid__col">
										<div class="ideas__body">
											<% if (cluster.ideas.length === 0) { %>
												<div class="ideas__item">
													<h3 class="ideas__placeholder">Your idea titles will appear here.</h3>
													<p class="ideas__placeholder">Your idea descriptions will appear there.</p>
												</div>
											<% } %>
											<% cluster.ideas.forEach(function(idea) { %>
												<div class="ideas__item">

													<h3 class=""><%= idea.name%></h3>
													<p class=""><%= idea.description%></p>
													<% if (currentUser && collection.author.id.equals(currentUser._id)) { %>
														<div class="buttons">
															<a class="buttons__item" href="/collections/<%= collection._id %>/categories/<%= category._id%>/clusters/<%= cluster._id%>/ideas/<%= idea._id%>/edit">
																Edit
															</a>
															<form class="buttons__item--form js-buttons--delete" action="/collections/<%= collection._id %>/categories/<%= category._id%>/clusters/<%= cluster._id%>/ideas/<%= idea._id%>?_method=DELETE" method="POST">
																<button class="buttons__item buttons__item--delete">Delete
																</button>
															</form>
														</div>
													<% } %>
												</div>
											<% }) %>
										</div>
									</div>
								</div>
							</section>
						<% })%>
					</article> <!-- Category Item  -->
				<% }); %>
			</section> <!-- Categories -->

			<section class="comments">
				<header class="comments__header">
					<div class="grid__row">
						<div class="grid__col">
							<h1>Comments</h1>
						</div>
					</div>
				</header>
					<% if (currentUser) { %>
						<div class="grid__row">
							<div class="grid__col">
								<div class="comments__form-wrapper">
									<div class="form form--wide">
										<form class="form__inner form__inner--wide" action="/collections/<%= collection._id %>/comments" method="POST">
											<h2>Add a comment</h2>
											<fieldset class="form__fieldset">
												<legend>What do you think about these ideas? </legend>
												<textarea class="form__item form__item--textarea" name="comment" placeholder="Notes about the idea"></textarea>
											</fieldset>
											<button class="form__item form__item--button">Submit</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					<%} %>
				<% collection.comments.forEach(function(comment) {%>
					<div class="comments__item">
						<div class="comments__author">
							<div class="grid__row">
								<div class="grid__col grid__col--flex-1">
									<img class="comments__image"src="<%= comment.author.image %>" alt="Author's Image">
								</div>
								<div class="grid__col grid__col--flex-100 grid__col--padding-right">
										<h3><%= comment.author.username%></h3>
										<span>Posted on <%= comment.date.toLocaleString()%> </span>
								</div>
							</div>
						</div>
						<div class="grid__row">
							<div class="grid__col">
								<div class="comments__body">
									<p><%= comment.text %></p>
								</div>
							</div>
						</div>
					</div>
				<% }) %>
			</section> <!-- Comments -->

		</main>
	</div>


<% include ../partials/footer %>



