<% include ../partials/header %>

		<div class="row">
			<div class="col">
				<h1 class="heading_margin_small"><%= collection.author.username %>'s Book Collection</h1>
				<p><img class="image image_rounded image__small" src="<%= collection.author.image%>"></p>
				<a href="/collections/<%= collection._id%>/books/new">
					<p><button class="button button_margin_small">Add a new book</button></p>
				</a>
			</div>
		</div>

	<div class="row">
		<% collection.books.forEach(function(book) { %>
			<div class="col">
				<h2 class="heading_margin_small heading__title"><%= book.title %></h2>
			<img class="image image_rounded" src="<%= book.image %>">
			<p><%= book.description%></p>
			<a href="/collections/<%= collection._id%>/books/<%= book._id%>/edit">
				<p><button class="button button_margin_small">Edit position</button></p>
			</a>

			<form action="/collections/<%= collection._id%>/books/<%= book._id%>?_method=DELETE" method="POST">
				<button class="button button__delete">Delete position</button>
			</form>
		</div>
		<% }); %>
	</div>

<% include ../partials/footer %>




