<% include ../partials/header %>

	<div class="container">
		<main>
			<section class="profile">
				<div class="grid__row">
					<div class="grid__col grid__col--desktop-flex-1 grid__col--no-padding">
						<header class="profile__header">
							<div class="profile__image-wrapper">
								<img class="profile__image" src="<%= collection.author.image %>" alt="Author's image">
							</div>
							<h2 class="profile__name"><%= collection.author.username %></h2>
						</header>
					</div>
					<div class="grid__col grid__col--desktop-flex-3 grid__col--no-padding">
						<div class="profile__body">
							<h1 class="profile__title">Essential ideas</h1>
							<div class="list__container">
								<h3 class="list__title">Categories:</h3>
								<% if (collection.categories !== null) { %>
									<ul class="list">
										<% collection.categories.forEach(function(category) {%>
												<li class="list__item">
													<%= category.name %>
												</li>
										<% })%>
									</ul>
								<% } %>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="categories">
				<% if (currentUser && collection.author.id.equals(currentUser._id)) { %>
					<div class="categories__panel">
						<div class="grid__row">
							<div class="grid__col">
								<h2 class="categories__title">Manage collection</h2>
								<div class="buttons">
									<a class="buttons__item buttons__item--large buttons__item--add-ideas" href="/collections/<%= collection._id%>/categories/new">
										Add ideas into new category
									</a>
								</div>
							</div>
						</div>
						<div class="grid__row">
							<div class="grid__col">
								<p class="categories__arrow">Ideas are initially sorted into <strong>categories</strong>. Then, within a category, ideas are grouped into <strong>clusters</strong>.</p>
								<p class="categories__arrow"><strong>Cluster</strong> is a group of ideas with the same source or author.</p>
							  <p class="categories__arrow"><strong>You can add a category, its clusters and ideas in three, simple steps</strong> - just click the " + " button above.</p>
							  <p class="categories__arrow"><strong>To edit or delete individual categories</strong> - use buttons in the top section of the given category.</p>
							  <p class="categories__arrow"><strong>To edit or delete individual idea clusters or ideas</strong> - use buttons in the section beneath them.</p>
							</div>
						</div>
					</div>
				<% } %>

				<% collection.categories.forEach(function(category) { %>
					<article class="categories__item">
						<header class="categories__header">
							<div class="grid__row">
								<div class="grid__col grid__col--no-padding grid__col--flex-1">
									<h2 class="categories__marker">Category</h2>
									<% if (currentUser && collection.author.id.equals(currentUser._id)) { %>
										<div class="buttons buttons--pos-absolute buttons--pos-top-right buttons--padding-top buttons--justify-end">
											<a class="buttons__item button--equal" href="/collections/<%= collection._id%>/categories/<%= category._id%>/clusters/new">
												Add cluster
											</a>
											<a class="buttons__item" href="/collections/<%= collection._id%>/categories/<%= category._id%>/edit">
												Edit
											</a>
											<form class="buttons__item--form -js-buttons--delete" action="/collections/<%= collection._id%>/categories/<%= category._id%>?_method=DELETE" method="POST">
												<button class="buttons__item buttons__item--delete">Delete</button>
											</form>
										</div>
									<% } %>
								</div>
							</div>
							<div class="grid__row ">
								<div class="grid__col">
									<h1 class="categories__title"> <%= category.name %></h1>
								</div>
							</div>
						</header>
						<% category.clusters.forEach(function(cluster) {%>
							<section class="ideas">
								<div class="grid__row">
									<div class="grid__col grid__col--desktop-flex-1">
										<header class="ideas__header">
											<h2>Idea cluster</h2>
											<img class="ideas__image" src="<%= cluster.source.image %>">
											<div>
												<h3>Source type: <span class="ideas__source"><%= cluster.source.label %></span></h3>
												<h3>Source: <span class="ideas__source"><%= cluster.source.name %></span><h3>
											</div>
											<% if (currentUser && collection.author.id.equals(currentUser._id)) { %>
												<div class="buttons buttons--padding-top">
													<a class="buttons__item button--equal" href="/collections/<%= collection._id%>/categories/<%= category._id%>/clusters/<%= cluster._id%>/ideas/new"">
													Add ideas
													</a>
													<a class="buttons__item button--equal" href="/collections/<%= collection._id%>/categories/<%= category._id%>/clusters/<%= cluster._id%>/edit">
														Edit
													</a>
													<form class="buttons__item--form -js-buttons--delete" action="/collections/<%= collection._id%>/categories/<%= category._id%>/clusters/<%= cluster._id %>?_method=DELETE" method="POST">
														<button class="buttons__item buttons__item--delete">Delete</button>
													</form>
												</div>
											<% } %>
										</header>
										<div class="ideas__body">
											<% cluster.ideas.forEach(function(idea) { %>
												<div class="ideas__item">
													<h3 class=""><%= idea.name%></h3>
													<p class=""><%= idea.description%></p>
													<% if (currentUser && collection.author.id.equals(currentUser._id)) { %>
														<div class="buttons">
															<a class="buttons__item" href="/collections/<%= collection._id %>/categories/<%= category._id%>/clusters/<%= cluster._id%>/ideas/<%= idea._id%>/edit">
																Edit
															</a>
															<form class="buttons__item--form -js-buttons--delete" action="/collections/<%= collection._id %>/categories/<%= category._id%>/clusters/<%= cluster._id%>/ideas/<%= idea._id%>?_method=DELETE" method="POST">
																<button class="buttons__item buttons__item--delete">Delete
																</button>
															</form>
														</div>
													<% } %>
												</div>
											<% }) %>
										</div>
								</div>
							</section>
						<% })%>
					</article> <!-- Category Item  -->
				<% }); %>
			</section> <!-- Categories -->

			<section class="comments">
				<header class="comments__header">
					<div class="grid__row">
						<div class="grid__col">
							<h1>Comments</h1>
						</div>
					</div>
				</header>
					<% if (currentUser) { %>
						<div class="grid__row">
							<div class="grid__col">
								<div class="comments__form-wrapper">
									<div class="form form--wide">
										<form class="form__inner form__inner--wide" action="/collections/<%= collection._id %>/comments" method="POST">
											<h2>Add a comment</h2>
											<fieldset class="form__fieldset">
												<legend>What do you think about these ideas? </legend>
												<textarea class="form__item form__item--textarea" name="comment" placeholder="Notes about the idea"></textarea>
											</fieldset>
											<button class="form__item form__item--button">Submit</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					<%} %>
				<% collection.comments.forEach(function(comment) {%>
					<div class="comments__item">
						<div class="comments__author">
							<div class="grid__row">
								<div class="grid__col grid__col--flex-1">
									<img class="comments__image"src="<%= comment.author.image %>" alt="Author's Image">
								</div>
								<div class="grid__col grid__col--flex-100 grid__col--padding-right">
										<h3><%= comment.author.username%></h3>
										<span>Posted on <%= comment.date.toLocaleString()%> </span>
								</div>
							</div>
						</div>
						<div class="grid__row">
							<div class="grid__col">
								<div class="comments__body">
									<p><%= comment.text %></p>
								</div>
							</div>
						</div>
					</div>
				<% }) %>
			</section> <!-- Comments -->

		</main>
	</div>


<% include ../partials/footer %>



