<% include ../partials/header %>

		<div class="row">
			<div class="col profile">

				<div class="profile__body">
					<h1 class="heading__title heading_margin-small">My Collection</h1>
					<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</div>

				<div class="profile__presentation">
					<h1 class="heading__title heading_margin-small"><%= collection.author.username %></h1>
					<img class="image image_rounded image-small" src="<%= collection.author.image%>">
					<a href="/collections/<%= collection._id%>/books/new">
						<p><button class="button button__full vertical_margin-small">Add a new book</button></p>
					</a>
				</div>

			</div>
		</div>
	<div class="row">
		<% collection.books.forEach(function(book) { %>
			<div class="col book">
				<div class="book__presentation">
					<h2 class="heading_margin-small heading__title"><%= book.title %></h2>
					<img class="image book__image image_rounded" src="<%= book.image %>">
				</div>

				<div class="book__body">
					<div class="book__description">
						<h3 class="heading__title vertical_margin-small">Description: </h3>
						<p class="vertical_margin-small text_justified"><%= book.description%></p>
					</div>

					<div class="book__buttons">
						<a href="/collections/<%= collection._id%>/books/<%= book._id%>/edit">
							<button class="button button_margin-horizontal button_margin-vertical">Edit</button>
							</a>
						<form action="/collections/<%= collection._id%>/books/<%= book._id%>?_method=DELETE" method="POST">
							<button class="button button__delete">Delete</button>
						</form>
					</div>
				</div>
			</div>
		<% }); %>
	</div>
	<div class="row">
		<div class="col">

			<h1><%= collection.comments%></h1>

			<div class="comments">
				<% collection.comments.forEach(function(comment) { %>
					<div class="profile__presentation">

					</div>
					<div class="comments__comment">
						<h3><%= comment.author.username%></h3>
						<p class="paragraph"><%= comment.text%></p>
					</div>

				<% })%>
			</div>

		</div>
	</div>

<% include ../partials/footer %>



