<% include ../partials/header %>

	<div class="row">
		<div class="col">
	  	<h1 class="heading__title vertical_margin-small">Edit notes about idea: <%= idea.name %></h1>
			<div class="form__ideas__container">
				<form class="form form_rounded" action="/collections/<%= id %>/categories/<%= category_id %>/clusters/<%= cluster_id%>/ideas/<%= idea._id%>?_method=PUT" method="POST">
					<input class="form__input form_rounded vertical_margin-small" type="text" name="idea[name]" value="<%= idea.name%>">
					<textarea class="form__textarea form_rounded vertical_margin-small" name="idea[description]"><%= idea.description %></textarea>
					<button class="button button__add vertical_margin-small">Submit changes</button>
				</form>
			</div>
		</div>
	</div>

<% include ../partials/footer %>
