<% include ../partials/header %>

<div class="grid__row">
	<div class="grid__col">
		<div class="grid__row">
			<div class="grid__col grid__col--no-padding">
				<div class="form">
					<form class="form__inner" action="/collections/<%= id%>/categories/<%= category_id %>/clusters/<%= cluster_id%>/ideas/<%= idea._id%>?_method=PUT" method="POST">
						<h2>Edit idea</h2>
						<fieldset class="form__fieldset">
						<legend>Idea notes</legend>
							<input class="form__item form__item--input" type="text" name="idea[name]" value="<%= idea.name%>">
							<textarea class="form__item form__item--textarea" name="idea[description]"><%= idea.description %></textarea>
						</fieldset>
						<button class="form__item form__item--button">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>
