<% include ../partials/header %>

	<div class="row">
		<div class="col">
	  	<h1 class="heading__title vertical_margin-small">Add ideas to "<%= book.title%>"</h1>

			<div class="form__ideas__container">
				<form class="form form_rounded" action="/collections/<%= id %>/books/<%= book._id %>/ideas" method="POST">
					<input class="form__input form_rounded vertical_margin-small" type="text" name="idea[name]" placeholder="Name the idea">
					<textarea class="form__textarea form_rounded vertical_margin-small" name="idea[description]" placeholder="Make notes about the idea"></textarea>
					<button class="button button__add vertical_margin-small">Submit</button>
				</form>
				<a class="vertical_margin-small" href="/collections/<%= id%>">
					<button class="button button__add">Done</button>
				</a>
			</div>

			<% if (book.ideas) { %>
			<h1 class="heading__title vertical_margin-small">Ideas added:</h1>
				<% book.ideas.forEach(function(idea) { %>
					<div class="book__ideas">
						<h3 class="heading__title vertical_margin-small"><%= idea.name%></h3>
						<p class="vertical_margin-small text_justified"><%= idea.description%></p>

						<a href="/collections/<%= id %>/books/<%= book._id%>/ideas/<%= idea._id%>/edit">
							<button class="button button__edit button_margin-horizontal button_margin-vertical">Edit idea</button>
						</a>
				</div>
				<% }) %>
			<% } %>

		</div>
	</div>

<% include ../partials/footer %>
