<% include ../partials/header %>
<div class="container">
	<div class="grid__row">
		<div class="grid__col grid__col--no-padding">
			<div class="form form--standalone">
				<form class="form__inner" action="/collections/<%= id %>/categories/<%= category._id %>/clusters/<%= cluster._id %>/ideas" method="POST">
					<a class="link" href="/collections/<%= id %>">Go to collection</a>
					<h1 class="form__title">Add ideas / step 3.</h1>
					<p class="form__subtitle">Add ideas to the selected source</p>
					<p><strong>Category:</strong> <%= category.name %></p>
					<p><strong>Selected source:</strong> <%= cluster.source.name %></p>
					<p>You can add up to 3 ideas. </p>
					<p>Newly added ideas will appear below.</p>
					<p><em>Click "Done" when you're finished.</em></p>
					<fieldset class="form__fieldset">
						<legend>New idea</legend>
						<label class="form__item form__item--label for="idea[name]">Name:</label>
						<input class="form__item form__item--input" type="text" name="idea[name]" placeholder="Name the idea">
						<label class="form__item form__item--label for="idea[description]">Description:</label>
						<textarea class="form__item form__item--textarea" name="idea[description]" placeholder="Notes about the idea"></textarea>
					</fieldset>
					<button class="form__item form__item--button">Submit</button>
					<a class="form__item form__item--button" href="/collections/<%= id %>">Done</a>
				</form>
			</div>
		</div>
	</div>


	<% if (cluster.ideas) { %>
		<% cluster.ideas.forEach(function(idea) { %>
			<div class="grid__row">
				<div class="grid__col grid__col--no-padding">
					<div class="ideas__item ideas__item--standalone">
						<h2><%= idea.name %></h2>
						<p><%= idea.description%></p>
					</div>
				</div>
			</div>
		<% }) %>
	<% } %>
</div>

<% include ../partials/footer %>
