<% include ../partials/header %>
<div class="container">
	<div class="grid__row">
		<div class="grid__col grid__col--no-padding">
			<div class="form">
				<form class="form__inner" action="/collections/<%= id %>/categories/<%= category._id %>/clusters/<%= cluster._id %>/ideas" method="POST">
					<a class="link" href="/collections/<%= id %>">Go back</a>
					<h2 class="">Add ideas to the cluster originating from the source "<%= cluster.source.name %>"</h2>
					<p><strong>Category:</strong> <%= category.name %></p>
					<p>This is the place to add positions for the specified cluster of ideas. Provide name of the idea and its description.</p>
					<fieldset class="form__fieldset">
						<legend>New idea</legend>
						<label class="form__item form__item--label for="idea[name]">Name:</label>
						<input class="form__item form__item--input" type="text" name="idea[name]" placeholder="Name the idea">
						<label class="form__item form__item--label for="idea[description]">Description:</label>
						<textarea class="form__item form__item--textarea" name="idea[description]" placeholder="Notes about the idea"></textarea>
					</fieldset>
					<button class="form__item form__item--button">Submit</button>
				</form>
			</div>
		</div>
	</div>
	<% if (cluster.ideas) { %>
		<% cluster.ideas.forEach(function(idea) { %>
			<div class="grid__row">
				<div class="grid__col grid__col--no-padding">
					<div class="form">
						<form class="form__inner" action="/collections/<%= id%>/categories/<%= category._id %>/clusters/<%= cluster._id%>/ideas/<%= idea._id%>?_method=PUT" method="POST">
							<a class="link" href="/collections/<%= id %>">Go back</a>
							<h2><%= idea.name %></h2>
							<p>This idea has already been added to the cluster.</p>
							<p>You can edit it below.</p>
							<fieldset class="form__fieldset">
								<legend>Edit idea notes</legend>
								<input class="form__item form__item--input" type="text" name="idea[name]" value="<%= idea.name%>">
								<textarea class="form__item form__item--textarea" name="idea[description]"><%= idea.description %></textarea>
							</fieldset>
							<button class="form__item form__item--button">Submit</button>
						</form>
					</div>
				</div>
			</div>
		<% }) %>
	<% } %>
</div>

<% include ../partials/footer %>
