<% include ../partials/header %>
<div class="container">
	<div class="grid__row">
		<div class="grid__col">
			<form class="form form--margin-top" action="/collections/<%= id %>/categories/<%= category._id %>?_method=PUT" method="POST">
				<a class="link" href="/collections/<%= id %>">Go back</a>
				<h2>Category - <%= category.name%></h2>
				<p>You can edit this category below.</p>
				<fieldset class="form__fieldset">
					<legend>Edit category name</legend>
					<input class="form__item form__item--input" type="text" name="name" value="<%= category.name%>">
				</fieldset>
				<button class="form__item form__item--button">Submit</button>
			</form>
		</div>
	</div>
</div>

<% include ../partials/footer %>
