<% include ../partials/header %>
<div class="container">
	<main>
		<section class="categories">
			<% if (currentUser && collection.author.id.equals(currentUser._id)) { %>
				<div class="categories__panel">
					<div class="grid__row">
						<div class="grid__col grid__col--padding-left">
							<h2>Add ideas</h2>
							<h3>Step 3</h3>
							<h4>Add ideas to their respective sources</h4>
							<p class="categories__arrow">To add ideas to a particular source, simply find and click its <strong>"Add ideas"</strong> button.</p>
							<p class="categories__arrow">You'll be taken to a page where you can add ideas to that source, one by one.</p>
						</div>
					</div>
				</div>

			<% } %>

			<article class="categories__item">
				<header class="categories__header">
					<div class="grid__row">
						<div class="grid__col grid__col--no-padding grid__col--flex-1">
							<h2 class="categories__marker">Category</h2>
							<% if (currentUser && collection.author.id.equals(currentUser._id)) { %>
								<div class="buttons buttons--pos-absolute buttons--pos-top-right buttons--padding-top buttons--justify-end">
									<a class="buttons__item button--equal" href="/collections/<%= collection._id%>/categories/<%= category._id%>/clusters/new">
										Add cluster
									</a>
									<a class="buttons__item" href="/collections/<%= collection._id%>/categories/<%= category._id%>/edit">
										Edit
									</a>
									<form class="buttons__item--form -js-buttons--delete" action="/collections/<%= collection._id%>/categories/<%= category._id%>?_method=DELETE" method="POST">
										<button class="buttons__item buttons__item--delete">Delete</button>
									</form>
								</div>
							<% } %>
						</div>
					</div>
					<div class="grid__row ">
						<div class="grid__col">
							<h1 class="categories__title"> <%= category.name %></h1>
						</div>
					</div>
				</header>
				<% category.clusters.forEach(function(cluster) {%>
					<section class="ideas">
						<div class="grid__row">
							<div class="grid__col grid__col--desktop-flex-1">
								<header class="ideas__header">
									<h2>Idea cluster</h2>
									<img class="ideas__image" src="<%= cluster.source.image %>">
									<div>
										<h3>Source type: <span class="ideas__source"><%= cluster.source.label %></span></h3>
										<h3>Source: <span class="ideas__source"><%= cluster.source.name %></span><h3>
									</div>
									<% if (currentUser && collection.author.id.equals(currentUser._id)) { %>
										<div class="buttons buttons--padding-top">
											<a class="buttons__item button--equal" href="/collections/<%= collection._id%>/categories/<%= category._id%>/clusters/<%= cluster._id%>/ideas/new"">
											Add ideas
											</a>
											<a class="buttons__item button--equal" href="/collections/<%= collection._id%>/categories/<%= category._id%>/clusters/<%= cluster._id%>/edit">
												Edit
											</a>
											<form class="buttons__item--form -js-buttons--delete" action="/collections/<%= collection._id%>/categories/<%= category._id%>/clusters/<%= cluster._id %>?_method=DELETE" method="POST">
												<button class="buttons__item buttons__item--delete">Delete</button>
											</form>
										</div>
									<% } %>
								</header>
								<div class="ideas__body">
									<% cluster.ideas.forEach(function(idea) { %>
										<div class="ideas__item">
											<h3 class=""><%= idea.name%></h3>
											<p class=""><%= idea.description%></p>
											<% if (currentUser && collection.author.id.equals(currentUser._id)) { %>
												<div class="buttons">
													<a class="buttons__item" href="/collections/<%= collection._id %>/categories/<%= category._id%>/clusters/<%= cluster._id%>/ideas/<%= idea._id%>/edit">
														Edit
													</a>
													<form class="buttons__item--form -js-buttons--delete" action="/collections/<%= collection._id %>/categories/<%= category._id%>/clusters/<%= cluster._id%>/ideas/<%= idea._id%>?_method=DELETE" method="POST">
														<button class="buttons__item buttons__item--delete">Delete
														</button>
													</form>
												</div>
											<% } %>
										</div>
									<% }) %>
								</div>
						</div>
					</section>
				<% })%>
			</article> <!-- Category Item -->
		</section> <!-- Categories -->
	</main>
</div>
<% include ../partials/header %>
