<% include ../partials/header %>
<div class="container">
	<div class="grid__row">
		<div class="grid__col grid__col--no-padding">
			<div class="form form--standalone">
				<form class="form__inner" action="/collections/<%= id %>/categories/<%= category._id %>/clusters" method="POST">
					<a class="link" href="/collections/<%= id %>">Go to collection</a>
					<h1 class="form__title">Add ideas / step 2.</h1>
					<p class="form__subtitle">Add sources of ideas about <%= category.name%></p>
	  			<p>You can have up to 3 sources per category. Newly added idea sources will appear below. </p>
	  			<p>Ideas source can be a person, a book, a theory etc.</p>
	  			<p>Where does this group of ideas come from?</p>
	  			<p><em> Click "Done" when you've finished adding sources. </em></p>
					<fieldset class="form__fieldset">
						<legend> Source of ideas </legend>
						<label class="form__item form__item--label" for="source[name]">Name of the source:</label>
						<input class="form__item form__item--input" type="text" name="source[name]" placeholder="Name">
						<label class="form__item form__item--label" for="source[name]">Label for the source:</label>
						<input class="form__item form__item--input" type="text" name="source[label]" placeholder="Book? Podcast?..."></input>
						<label class="form__item form__item--label" for="source[name]">Image of the source</label>
						<input class="form__item form__item--input" type="text" name="source[image]" placeholder="Image link"></input>
					</fieldset>
					<button class="form__item form__item--button">Submit</button>
					<a class="form__item form__item--button" href="/collections/<%= id %>">Done</a>
				</form>
			</div>
		</div>
	</div>

	<% if (category.clusters) { %>

			<% category.clusters.forEach(function(cluster) { %>
			<div class="grid__row">
				<div class="grid__col  grid__col--no-padding">
					<div class="ideas__source-container">
						<h2>Ideas cluster</h2>
						<img class="ideas__image" src="<%= cluster.source.image %>">
						<div>
							<h3>Source type: <span class="ideas__source"><%= cluster.source.label %></span></h3>
							<h3>Source: <span class="ideas__source"><%= cluster.source.name %></span><h3>
						</div>
					</div>
				</div>
			</div>
			<% }) %>

	<% } %>
</div>

<% include ../partials/footer %>
